<div class="container">
    <h4><strong>1. If I serve in GRC A, can I get Phase 2B letter in GRC B</strong></h4>
    <h4>Yes, you simply need to make sure your IC address is in GRC B before the registration year.</h4>
    <h4>Buy Android App "Singapore Primary School Registration Data" in Google Play.
    </h4>
    <a href="https://play.google.com/store/apps/details?id=www.snowballdata.com.primaryschool&hl=en">Link to Play Store</a>
    <div class="carousel-inner">
        <div class="item active">

            <img class="img-responsive" src="assets/img/androidapp.png" alt="">
        </div>
    </div>
</div>