
    <div class="container">
        <!-- <mat-form-field>
            <mat-label>Select Year</mat-label>
            <mat-select [(ngModel)]="selectedYear" name="year" (selectionChange)="getDataByYear()">
              <mat-option *ngFor="let s of years" [value]="s">
                {{s}}
              </mat-option>
            </mat-select>
        </mat-form-field> -->
        <div class="table-responsive">
          <input class="form-control" type="text" placeholder="Search by School Name" [(ngModel)]="searcht">
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr>
                <th>School</th>
                <th>Year</th>
                <th>Phase</th>
                <th>Ballot</th>
                <th>Desc</th>
              </tr>
            </thead>
            <tbody *ngFor="let p of schools | filter : searcht">
              <tr>
                <td><a routerLink="/propertynearby/{{p.school}}">{{p.school}}</a></td>
                <td>{{p.year}}</td>
                <td>{{getPhase(p.phase)}}</td>
                <td>{{p.ballot}}</td>
                <td>{{p.ballotdesc}} </td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
  <!-- </main> -->
