
    <div class="container">
        <div class="table-responsive">
          <input class="form-control" type="text" placeholder="Search Data by School" [(ngModel)]="searcht">
          <table class="table table-striped table-sm table-bordered">
            <thead>
              <tr>
                <th>School</th>
                <th>Year</th>
                <th>Phase</th>
                <th>Ballot</th>
                <th>Desc</th>
              </tr>
            </thead>
            <tbody *ngFor="let p of schools | filter : searcht">
              <tr>
                <td><a routerLink="/propertynearby/{{p.school}}">{{p.school}}</a></td>
                <td>{{p.year}}</td>
                <td>{{getPhase(p.phase)}}</td>
                <td>{{p.ballot}}</td>
                <td>{{p.ballotdesc}} </td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
  <!-- </main> -->
