<div class="container">
    <h3>Snowball Tennis Academy</h3>
    <br/><br/>
    <p>We are from an active tennis group in the Chinese community in Singapore. Our lessons are held in the west side of Singapore.</p>
    <br/>
    <p>We focus on training young kids in Singapore to play tennis safely. We can also help you find hitting partners in Singapore.</p>
    <br/>
    <p>Private Class: Having private lessons gives you the flexibility to arrange it according to your kid's scheduler.</p>
    <br/>
    <p>WhatsApp:</p>
    <br/>
    <p>Email:</p>
</div>


