<!-- <div class="align-items-center bg-dark border-bottom shadow-sm">
  <h6 class="navbar-brand font-weight-normal text-white">Singapore Primary School Registration</h6>
  <button (click)="login()" *ngIf="!isAuthenticated">Log In</button>
  <button (click)="logout()" *ngIf="isAuthenticated">Log Out</button>

</div> -->

<!-- <a [routerLink]="['profile']" *ngIf="isAuthenticated">Profile</a> -->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Singapore Primary School Registration</h5>
    <nav class="my-2 my-md-0 mr-md-3">
    </nav>
    <a class="btn btn-outline-primary" (click)="login()" *ngIf="!isAuthenticated">Log In</a>
    <a class="btn btn-outline-primary" (click)="logout()" *ngIf="isAuthenticated">Log Out</a>
</div>