
<!-- <a [routerLink]="['profile']" *ngIf="isAuthenticated">Profile</a> -->
<div class="container">
        <header class="blog-header py-2">
            <div class="text-center">
                <h5 class="blog-header-logo text-dark">Singapore Primary School Based Property Transactions</h5>
            </div>
        </header>
        <div class="nav-scroller py-1">
                <nav class="nav d-flex justify-content-between">
                  <!-- <a class="p-2 nav-link" routerLink="/dashboardhighlight">Property Near School</a> -->
                  <a class="p-2 nav-link" routerLink="/dashboard">Register By Year</a>
                  <a class="p-2 nav-link" routerLink="/dashboardschool">Register By School</a>
                  <a class="p-2 nav-link" routerLink="/dashboardanalysis">Analysis By School</a>
                  <a class="p-2 nav-link" routerLink="/dashboardballot">School Balloting</a>
                  <a class="p-2 nav-link" routerLink="/moekindergarden">MOE Kindergarden</a>
                  <a class="p-2 nav-link" routerLink="/postads">Post Advertisement</a>
                </nav>
        </div>
    <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Singapore Primary School Registration</h5> -->
    <!-- <a class="btn btn-outline-primary" (click)="login()" *ngIf="!isAuthenticated">Log In</a>
    <a class="btn btn-outline-primary" (click)="logout()" *ngIf="isAuthenticated">Log Out</a> -->
</div>