
.school {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  /* HeroDetailComponent's private CSS styles */
input {
    display: inline-block;
    width: 24em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    padding: 5px 10px;
  }
button {
    font-family: Arial;
    color: #eee;
    background-color:#3f525c;;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
    margin-right: 1px;
    margin-left: 1px;
  }
.gobackbutton {
    font-family: Arial;
    color: #eee;
    background-color:#3f525c;;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    cursor: hand;
    margin-right: 1px;
    margin-left: 1px;
}
button:hover {
    background-color: #cfd8dc;
  }
button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }