<div class="container-fluid">
  <input type="text" placeholder="Search School..." [(ngModel)]="searchtext"> 
  <button (click)="goBack()">go back</button>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Schools (>= 240)</th>
          <ng-template #tipAvail>Availability in current phase</ng-template>
          <th><span [ngbTooltip]="tipAvail">Avail</span></th>
          <ng-template #tipReg>Number of students registered</ng-template>
          <th><span [ngbTooltip]="tipReg">Reg</span></th>
        </tr>
      </thead>
      <tbody *ngFor="let school of schools | filter : searchtext">
        <tr>
          <ng-template #tipContent>{{school.school}}</ng-template>
          <td><span [ngbTooltip]="tipContent">{{school.school.substring(0,16)}}</span></td>
          <td>{{school.availability}}</td>
          <td>{{school.registration}}</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
