<div class="container-fluid">
  <input type="text" placeholder="Search School..." [(ngModel)]="searchtext"> 
  <button (click)="keeyGepSchoolsOnly()">GEP Schools</button>
  <button (click)="getSchools()">All Schools</button>
  <button (click)="goBack()">go back</button>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Schools (>= 240)</th>
          <th>Availability</th>
          <th>Registered</th>
        </tr>
      </thead>
      <tbody *ngFor="let school of schools | filter : searchtext">
        <tr>
          <td>{{school.school}}</td>
          <td>{{school.availability}}</td>
          <td>{{school.registration}}</td>
        </tr>
      </tbody>
    </table>
  </div>  
</div>
