.jumbotron {
    font-size: em;
    font: tahoma;
    background-color: #486b31;
    color: white;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
    margin-top: 5px;
    font: tahoma;
}

p {
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 5px;
    font: tahoma;
}

div {
    font: tahoma;
}
