.jumbotron {
    font-size: em;
    font: tahoma;
    background-color: #65316b;
    color: white;
}

h3 {
    margin-bottom: 0;
    font: tahoma;
}

button {
    font-size: 0.8em;
    margin: 2px;
    font: tahoma;
}

div {
    font: tahoma;
}