<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Primary School Registration History in Singapore</h1>
      <p>This website focuses on providing school registration data in Singapore and also some analysis for all 185 MOE primary school.
        There are school registration data from 2009 to 2019 for each phase. It will help parents to do some basic analysis to decide which primary school to target to enter. </p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3>Nanyang Primary School</h3>
        <p>Nanyang is a mixed school in Holland-Bukit Timah GRC. It is also an SAP school. Singapore citizen within 1km has good chance to enter this primary school compared to other GEP schools.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Nanyang Primary School" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>Tao Nan School</h3>
        <p>Tao Nan is a mixed school in Marine Parade GRC. It is also an SAP school. Singapore citizen within 1km has good chance to enter this primary school compared to other GEP schools.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Tao Nan School" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>Nan Hua Primary School</h3>
        <p>Nan Hua is a mixed school in Jurong GRC. It is also an SAP school. This is one of the hardest school to enter during Phase 2C, so you have to find a way to qualify for Phase 2B.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Nan Hua Primary School" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>Catholic High School (Primary Section)</h3>
        <p>Catholic High is a boy school in Bishan-Toa Payoh GRC. It is also an SAP school. Lee Hsien Loong graduated from this school.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Catholic High School (Primary Section)" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>Anglo-Chinese School (Primary)</h3>
        <p>Anglo-Chinese is a boy school in Tanjong Pagar GRC. Singapore citizen within 1km is easy to enter this school.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Anglo-Chinese School (Primary)" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>Raffles Girls' Primary School</h3>
        <p>Raffles Girl is a girl school in Holland-Bukit Timah GRC. This is not an SAP school. Singapore citizen within 1km can enter this school.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Raffles Girls’ Primary School" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>Henry Park Primary School</h3>
        <p>Henry Park is a mixed school in Holland-Bukit Timah GRC. This is not an SAP school.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Henry Park Primary School" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>Rosyth School</h3>
        <p>Rosyth is a mixed school in Ang Mo Kio GRC. This is not an SAP school. This is another very hard to enter school during Phase 2C.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/Rosyth School" role="button">Registration History</a></p>
      </div>
      <div class="col-md-4">
        <h3>St. Hilda's Primary School</h3>
        <p>St. Hilda is a mixed school in Tampines GRC. It is hard to enter this school during Phase 2C.</p>
        <p><a class="btn btn-secondary" routerLink="/byschool/St. Hilda’s Primary School" role="button">Registration History</a></p>
      </div>
    </div>

    <hr>

  </div>

</main>