
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <app-side-bar></app-side-bar>
    </div>
</nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
    <div class="container-fluid">
        <div class="table-responsive">
          Private Properties within 1km to school:
          <button class="gobackbutton" (click)="goBack()">go back</button>

          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>School</th>
                <th>Property</th>
                <th>Type</th>
                <th>Tenure</th>
                <th>Number of Units</th>
                <th>TOP</th>
                <th>psf</th>
              </tr>
            </thead>
            <tbody *ngFor="let p of properties">
              <tr>
                <td>{{p.school}}</td>
                <td><a routerLink="/transaction/{{p.pname}}">{{p.pname}}</a></td>
                <td>{{p.ptype}}</td>
                <td>{{p.ptenure}}</td>
                <td>{{p.numberofunit}}</td>
                <td>{{p.top}}</td>
                <td>{{p.psf}}</td>
              </tr>
            </tbody>
          </table>
        </div>  
      </div>
  </main>