
    <div class="container">
        <mat-form-field>
            <mat-label>Select School Phase</mat-label>
            <mat-select [(ngModel)]="selectedPhase" name="phase" (selectionChange)="getSchoolDataByPhase()">
              <mat-option *ngFor="let phase of phases" [value]="phase.id">
                {{phase.name}}
              </mat-option>
            </mat-select>
        </mat-form-field>

        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th>School</th>
                <th (click)="orderByYear()">Year</th>
                <th>Phase</th>
                <th (click)="orderByAvailability()">Vacancy</th>
                <th (click)="orderByRegistration()">Registration</th>
                <th (click)="orderByMaxPrAvai()">Max PR Vacancy</th>
                <th (click)="orderBySubRate()">Success Rate</th>
              </tr>
            </thead>
            <tbody *ngFor="let p of schools">
              <tr>
                <td><a routerLink="/propertynearby/{{p.school}}">{{p.school}}</a></td>
                <td>{{p.year}}</td>
                <td>{{getPhase(p.phase)}}</td>
                <td>{{p.availability}}</td>
                <td>{{p.registration}} </td>
                <td>{{p.maxprnum}}</td>
                <td>{{p.subrate | percent}}</td>
              </tr>
            </tbody>
          </table>
        </div>  
    </div>